<div class="container mt-5">
	<!--div class="text-center">
		<a routerLink="/">
			<img style="max-width:100%;" src="assets/images/banner.png">
		</a>
	</div-->
	<div class="mt-4" style="max-width:21rem; margin-left:auto; margin-right:auto;">
		<h3>404</h3>
		<p>Sorry, but the page you've requested could not be found.</p>
		<p>Maybe you could try visiting our <a routerLink="/">homepage</a>.</p>
		<!--p class="mt-2">
			Hope you find what you're looking for,<br>
			<span class="ml-2">&ndash;GivingTools staff</span>
		</p-->
	</div>
</div>
