<div class="alert alert-success" *ngIf="generated">
  <p>Your message has been encrypted successfully! You may now share the address of this page:</p>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-secondary" type="button" (click)="copyAddress()">
        <fa-icon [icon]="faCopy"></fa-icon> Copy
      </button>
    </div>
    <input class="form-control" type="text" readonly [ngModel]="address" #copyArea>
  </div>
</div>

<ng-container *ngIf="model.status == 'pending'; else ready">
  Please stand by...
</ng-container>
<ng-template #ready>
  <ng-container *ngIf="model.status == 'notFound'; else success">
    <div class="alert alert-danger">
      The message you've requested could not be found, or has expired.
    </div>
  </ng-container>
  <ng-template #success>
    <div class="form-group">
      <label for="message">
        You've got a message:
      </label>
      <textarea class="form-control" id="message"
                [ngModel]="model.message" readonly></textarea>
      Note that this message will self-destruct in {{model.expiration | time}}.
    </div>
  </ng-template>
</ng-template>
