<div class="alert alert-success" *ngIf="generated">
  <p>Your message has been encrypted successfully! You may now share the address of this page:</p>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-secondary" type="button" (click)="copyAddress()">
        <ng-container *ngIf="sharingAvailable; else copy">
          <fa-icon [icon]="faShareAlt"></fa-icon>
        </ng-container>
        <ng-template #copy>
          <fa-icon [icon]="faCopy"></fa-icon>
          Copy
        </ng-template>
      </button>
    </div>
    <input class="form-control" type="text" readonly [ngModel]="address" #copyArea>
  </div>
</div>

<ng-container *ngIf="model.status == 'pending'; else ready">
  Please stand by...
</ng-container>
<ng-template #ready>
  <ng-container *ngIf="model.status == 'notFound'; else success">
    <div class="alert alert-danger">
      The message you've requested could not be found, or has expired.
    </div>
  </ng-container>
  <ng-template #success>
    <div class="form-group">
      <label>You've got a message:</label>
      <form>
        <message-display [(message)]="model.message" [readonly]="true"></message-display>
      </form>
      Note that this message will self-destruct {{model.expiration | time | async}}.
      <a class="link-reset" (click)="destroy()">Destroy it now.</a>
    </div>
  </ng-template>
</ng-template>
